* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
    background: #646464;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section .container {
    position: relative;
    width: 800px;
    height: 500px;
    background: white;
    box-shadow: 0 50px 50px rgba(0,0,0,0.1);
}

section .container .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .container .user .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
}

section .container .user .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .container .user .formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

section .container .user .formBx h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: rgb(78, 78, 78);
}

section .container .user .formBx input {
    width: 100%;
    padding: 10px;
    background: rgb(236, 218, 225);
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

section .container .user .formBx input[type="submit"] {
    max-width: 100px;
    background: rgb(94, 94, 94);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

section .container .user .formBx .signup {
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    color:#555;
    text-transform: uppercase;
    font-weight: 300;
}

section .container .user .formBx .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #577eff;
}